<div class="navlinks" data-toggle="collapse" data-target="#navlinks-target">
    <span class="sr-only">Toggle navigation</span>
    <a class="box"></a>
    <div id="navlinks-target" class="menu collapse">
        <span class="close">X</span>
        <div class="menu-content panel-body">
            <h3><a href="#about">About Me</a></h3>
            <h3><a href="#portfolio">Portfolio</a></h3>
            <h3><a href="#contact">Contact</a></h3>
        </div>
    </div>
</div>
<header class="site-header parallax-window" data-parallax="scroll" data-image-src="{{ site.baseurl  }}/assets/img/bg.jpg">
    <section class="overlay">
        <div class="container content">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>Nik Kyriakidis</h1>
                    <h2>Web Developer</h2>
                    <br/>
                </div>
                <div class="col-md-6 col-md-offset-3">
                    <hr/>
                    <ul class="nav nav-justified">
                        <li class="text-center"><h3><a href="#about">About Me</a></h3></li>
                        <li class="text-center"><h3><a href="#portfolio">Portfolio</a></h3></li>
                        <li class="text-center"><h3><a href="#contact">Contact</a></h3></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</header>
